MEDIATOR_URL=https://gaiax.vereign.com/mediator?c_i=eyJAdHlwZSI6ICJkaWQ6c292OkJ6Q2JzTlloTXJqSGlxWkRUVUFTSGc7c3BlYy9jb25uZWN0aW9ucy8xLjAvaW52aXRhdGlvbiIsICJAaWQiOiAiMWY0ZjVhN2QtOWNmMi00NjZhLWJjNmItNTczOTMwMDVmNDE3IiwgInJlY2lwaWVudEtleXMiOiBbIkRBc2prQTdZeXZCM3hrc1NtYXRMVDVyM2hqUU4zQnN4R1VKWHhiU3l6RWtIIl0sICJzZXJ2aWNlRW5kcG9pbnQiOiAiaHR0cHM6Ly9nYWlheC52ZXJlaWduLmNvbS9tZWRpYXRvciIsICJsYWJlbCI6ICJNZWRpYXRvciJ9
NOTIFICATION_URL=https://gaiax.vereign.com/ocm/notification
